* {
  font-family: 'Rajdhani', sans-serif;
  line-height: 1em;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 10px;
  background-color: #000;
}

.ui.spooky.button {
  border: 1px solid #fff;
  border-radius: 0px;
  background-color: #1a1a1a;
  color: #fff;
  transition: all .3s;
}

.ui.spooky.button:hover {
  border-radius: 0px;
  background-color: #ffffff;
  color: #1a1a1a;
  text-decoration: none;
  font-weight: bold;
  transition: all .1s;
}

.next-turn {
  color: #fff;
  font-size: 42px;
  text-shadow: 2px 2px 2px #000000;
  padding-top: 8px;
  padding-left: 20px;
}
